@model Domains.TbEmployeeCategory

<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                           
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
              
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                <h4 class="card-title">Employee Category</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                    <form enctype="multipart/form-data" method="post" role="form" asp-controller="EmployeeCategory" asp-action="Save" class="form">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                            <input asp-for="EmployeeCategoryId" type="hidden" class="form-control">
                                                        <input type="text" id="first-name-column" class="form-control" placeholder="Name" asp-for="EmplyeeCategoryName">
                                                            <label for="first-name-column"> Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                        <input type="text" id="last-name-column" class="form-control" placeholder="Job Description" asp-for="EmplyeeCategoryJobDescription">
                                                            <label for="last-name-column">Job Description</label>
                                                        </div>
                                                    </div>
                                                   @* <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                        <input type="text" id="city-column" class="form-control" placeholder="Location" asp-for="ClientCompanyLocation">
                                                            <label for="city-column">Location</label>
                                                        </div>
                                                    </div>*@
                                                   @* <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                        <select class="select2 form-control select2-hidden-accessible" asp-for="CityName" >
                                                            <option selected>Choose A City</option>
                                                            <option value="Cairo">Cairo</option>
                                                            <option value="Alexandria">Alexandria</option>
                                                            <option value="Aciuot">Aciuot</option>
                                                            <option value="Suez">Suez</option>
                                                            <option value="Sharqia">Sharqia</option>
                                                            <option value="Manofia">Manofia</option>

                                                        </select>
                                                            <label for="country-floating">City</label>
                                                        </div>
                                                    </div>*@
                                                 @*   <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                        <input class=" form-control" name="files" type="file" placeholder="Image Client">
                                                            <label for="company-column">Image Client</label>
                                                        </div>
                                                    </div>*@
                                                   @* <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                            <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="Email">
                                                            <label for="email-id-column">Email</label>
                                                        </div>
                                                    </div>*@
                                                  
                                                    <div class="col-12">
                                                    <button  type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Submit</button>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic Floating Label Form section end -->

            </div>
        </div>
    </div>











































